In [1]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db (from db-sqlite3)
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm (from db->db-sqlite3)
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py): started
  Building wheel for db-sqlite3 (setup.py): finished with status 'done'
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp37-none-any.whl size=1802 sha256=1fd89416cca94cd788f2f42b2f94dfda8a860b0549ef105d92855ae6af44edd6
  Stored in directory: C:\Users\Mahima Reddem\AppData\Local\pip\Cache\wheels\e0\f8\cb\08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py): started
  Building wheel for db (setup.py): finished with status 'done'
  Created wheel for db: filename=db-0.1.1-cp37-none-any.whl size=3900 sha256=25387cc5a6558abc57ae04342f3ae5e5d8f611a766d5a4264abd309b33931c15
  Stored in directory: C:\Users\Mahima Reddem\AppData\Local\pip\Cache\wheels\30\eb\ba\237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py): started
  Building wheel for antiorm (setup.py): finished with status 'done'
  Created wheel for antiorm: filename=antiorm-1.2.1-cp37-none-any.whl size=31674 sha256=645a9a2898643f45e5ae376e5ca6666de61ca5ba0bb4ca00eba3f28ee0250d3f
  Stored in directory: C:\Users\Mahima Reddem\AppData\Local\pip\Cache\wheels\b0\91\4d\f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("test.db")
cur=conn.cursor()
print("Database opened successfully")

Database opened successfully

In [4]:
conn.execute('''CREATE TABLE COMPANY
(ID INT PRIMARY KEY    NOT NULL,
NAME            TEXT   NOT NULL,
AGE              INT   NOT NULL,
ADDRESS         CHAR(50),
SALARY          REAL);''')
print("Table created successfully")

Table created successfully

In [5]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
            VALUES (1, 'Paul', 32, 'California', 20000.00)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
            VALUES (2, 'Allen', 24, 'Texas', 30000.00)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
            VALUES (3, 'Mark', 29, 'Rich-Mond', 40000.00)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
            VALUES (4, 'Teddy', 28, 'Norway', 55000.00)");
conn.commit()
print("Records created successfully")

Records created successfully

In [6]:
for row in conn.execute('select * from COMPANY'):
    print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 24, 'Texas', 30000.0)
(3, 'Mark', 29, 'Rich-Mond', 40000.0)
(4, 'Teddy', 28, 'Norway', 55000.0)

In [7]:
conn.commit()

In [8]:
conn.close()